In [41]:
import numpy as np
import pandas as pd

In [42]:
import seaborn as sns

In [43]:
stocks = pd.read_csv('archive/sp500_stocks.csv')
stocks.describe()

,Adj Close,Close,High,Low,Open,Volume
count,617831.000000,617831.000000,617831.000000,617831.000000,617831.000000,6.178310e+05
mean,79.672357,87.471540,88.417844,86.480997,87.460302,9.347125e+06
std,102.742931,104.521901,105.684113,103.300770,104.519845,4.771669e+07
min,0.203593,0.222000,0.226250,0.216250,0.218000,0.000000e+00
25%,26.572459,32.700001,33.060001,32.299999,32.689999,1.144000e+06
50%,49.821613,59.139999,59.720001,58.500000,59.119999,2.453400e+06
75%,94.831036,105.019997,106.129997,103.889999,105.000000,5.657850e+06
max,1702.530029,1702.530029,1714.750000,1696.900024,1706.400024,3.692928e+09

In [44]:
stocks.head()

         Date Symbol  Adj Close  Close  High  Low  Open  Volume
0  2010-01-04    MMM        NaN    NaN   NaN  NaN   NaN     NaN
1  2010-01-05    MMM        NaN    NaN   NaN  NaN   NaN     NaN
2  2010-01-06    MMM        NaN    NaN   NaN  NaN   NaN     NaN
3  2010-01-07    MMM        NaN    NaN   NaN  NaN   NaN     NaN
4  2010-01-08    MMM        NaN    NaN   NaN  NaN   NaN     NaN

In [45]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1891536 entries, 0 to 1891535
Data columns (total 8 columns):
 #   Column     Dtype
---  ------     -----
 0   Date       object
 1   Symbol     object
 2   Adj Close  float64
 3   Close      float64
 4   High       float64
 5   Low        float64
 6   Open       float64
 7   Volume     float64
dtypes: float64(6), object(2)
memory usage: 115.5+ MB

In [46]:
valued_stocks = stocks.dropna()
valued_stocks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 617831 entries, 3768 to 1876463
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       617831 non-null  object
 1   Symbol     617831 non-null  object
 2   Adj Close  617831 non-null  float64
 3   Close      617831 non-null  float64
 4   High       617831 non-null  float64
 5   Low        617831 non-null  float64
 6   Open       617831 non-null  float64
 7   Volume     617831 non-null  float64
dtypes: float64(6), object(2)
memory usage: 42.4+ MB

In [47]:
valued_stocks.head()

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume
3768,2010-01-04,AOS,5.937266,7.435000,7.480000,7.261667,7.295000,1104600.0
3769,2010-01-05,AOS,5.861404,7.340000,7.431667,7.308333,7.431667,1207200.0
3770,2010-01-06,AOS,5.864068,7.343333,7.405000,7.301667,7.335000,663000.0
3771,2010-01-07,AOS,5.881369,7.365000,7.425000,7.311667,7.356667,564000.0
3772,2010-01-08,AOS,5.967879,7.473333,7.485000,7.311667,7.331667,504600.0

In [48]:
companies = pd.read_csv('archive/sp500_companies.csv')
companies.head()

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
0,NMS,AAPL,Apple Inc.,Apple Inc.,Technology,Consumer Electronics,254.49,3846819807232,1.346610e+11,0.061,Cupertino,CA,United States,164000.0,"Apple Inc. designs, manufactures, and markets ...",0.069209
1,NMS,NVDA,NVIDIA Corporation,NVIDIA Corporation,Technology,Semiconductors,134.70,3298803056640,6.118400e+10,1.224,Santa Clara,CA,United States,29600.0,NVIDIA Corporation provides graphics and compu...,0.059350
2,NMS,MSFT,Microsoft Corporation,Microsoft Corporation,Technology,Software - Infrastructure,436.60,3246068596736,1.365520e+11,0.160,Redmond,WA,United States,228000.0,Microsoft Corporation develops and supports so...,0.058401
3,NMS,AMZN,"Amazon.com, Inc.","Amazon.com, Inc.",Consumer Cyclical,Internet Retail,224.92,2365033807872,1.115830e+11,0.110,Seattle,WA,United States,1551000.0,"Amazon.com, Inc. engages in the retail sale of...",0.042550
4,NMS,GOOGL,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,191.41,2351625142272,1.234700e+11,0.151,Mountain View,CA,United States,181269.0,Alphabet Inc. offers various products and plat...,0.042309

In [49]:
df = valued_stocks.merge(companies,
                         how='left',
                         left_on='Symbol',
                         right_on='Symbol',
                         indicator=True)
df.head()

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume,Exchange,Shortname,...,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight,_merge
0,2010-01-04,AOS,5.937266,7.435000,7.480000,7.261667,7.295000,1104600.0,NYQ,A.O. Smith Corporation,...,9964057600,809100032.0,-0.037,Milwaukee,WI,United States,12000.0,A. O. Smith Corporation manufactures and marke...,0.000179,both
1,2010-01-05,AOS,5.861404,7.340000,7.431667,7.308333,7.431667,1207200.0,NYQ,A.O. Smith Corporation,...,9964057600,809100032.0,-0.037,Milwaukee,WI,United States,12000.0,A. O. Smith Corporation manufactures and marke...,0.000179,both
2,2010-01-06,AOS,5.864068,7.343333,7.405000,7.301667,7.335000,663000.0,NYQ,A.O. Smith Corporation,...,9964057600,809100032.0,-0.037,Milwaukee,WI,United States,12000.0,A. O. Smith Corporation manufactures and marke...,0.000179,both
3,2010-01-07,AOS,5.881369,7.365000,7.425000,7.311667,7.356667,564000.0,NYQ,A.O. Smith Corporation,...,9964057600,809100032.0,-0.037,Milwaukee,WI,United States,12000.0,A. O. Smith Corporation manufactures and marke...,0.000179,both
4,2010-01-08,AOS,5.967879,7.473333,7.485000,7.311667,7.331667,504600.0,NYQ,A.O. Smith Corporation,...,9964057600,809100032.0,-0.037,Milwaukee,WI,United States,12000.0,A. O. Smith Corporation manufactures and marke...,0.000179,both

In [50]:
df['_merge'].value_counts()

_merge
both          617831
left_only          0
right_only         0
Name: count, dtype: int64

In [51]:
df = df[['Date', 'Symbol', 'Industry', 'Adj Close']]
df.head()

         Date Symbol                        Industry  Adj Close
0  2010-01-04    AOS  Specialty Industrial Machinery   5.937266
1  2010-01-05    AOS  Specialty Industrial Machinery   5.861404
2  2010-01-06    AOS  Specialty Industrial Machinery   5.864068
3  2010-01-07    AOS  Specialty Industrial Machinery   5.881369
4  2010-01-08    AOS  Specialty Industrial Machinery   5.967879

In [52]:
symbols = set(df['Symbol'].values)

In [53]:
df.groupby('Symbol').count()

        Date  Industry  Adj Close
Symbol
ABBV    3014      3014       3014
ABT     3768      3768       3768
ADM     3768      3768       3768
AES     3768      3768       3768
AJG     3768      3768       3768
...      ...       ...        ...
WMB     3768      3768       3768
WRB     3768      3768       3768
WST     3768      3768       3768
WTW     3768      3768       3768
XYL     3319      3319       3319

[172 rows x 3 columns]

In [ ]:
for symbol in symbols:
    df['Symbol'].loc[df['Symbol'] == symbol]

80053    BBY
80054    BBY
80055    BBY
80056    BBY
80057    BBY
        ...
83816    BBY
83817    BBY
83818    BBY
83819    BBY
83820    BBY
Name: Symbol, Length: 3768, dtype: object
526248    TSLA
526249    TSLA
526250    TSLA
526251    TSLA
526252    TSLA
          ...
529889    TSLA
529890    TSLA
529891    TSLA
529892    TSLA
529893    TSLA
Name: Symbol, Length: 3646, dtype: object
269134    FCX
269135    FCX
269136    FCX
269137    FCX
269138    FCX
         ...
272897    FCX
272898    FCX
272899    FCX
272900    FCX
272901    FCX
Name: Symbol, Length: 3768, dtype: object
91357    BSX
91358    BSX
91359    BSX
91360    BSX
91361    BSX
        ...
95120    BSX
95121    BSX
95122    BSX
95123    BSX
95124    BSX
Name: Symbol, Length: 3768, dtype: object
286656    HCA
286657    HCA
286658    HCA
286659    HCA
286660    HCA
         ...
290121    HCA
290122    HCA
290123    HCA
290124    HCA
290125    HCA
Name: Symbol, Length: 3470, dtype: object
165050    DXCM
165051    DXCM
165052    DXCM
165053    DXCM
165054    DXCM
          ...
168813    DXCM
168814    DXCM
168815    DXCM
168816    DXCM
168817    DXCM
Name: Symbol, Length: 3768, dtype: object
444318    PM
444319    PM
444320    PM
444321    PM
444322    PM
          ..
448081    PM
448082    PM
448083    PM
448084    PM
448085    PM
Name: Symbol, Length: 3768, dtype: object
591904    WEC
591905    WEC
591906    WEC
591907    WEC
591908    WEC
         ...
595667    WEC
595668    WEC
595669    WEC
595670    WEC
595671    WEC
Name: Symbol, Length: 3768, dtype: object
569296    VRSK
569297    VRSK
569298    VRSK
569299    VRSK
569300    VRSK
          ...
573059    VRSK
573060    VRSK
573061    VRSK
573062    VRSK
573063    VRSK
Name: Symbol, Length: 3768, dtype: object
373325    LKQ
373326    LKQ
373327    LKQ
373328    LKQ
373329    LKQ
         ...
377088    LKQ
377089    LKQ
377090    LKQ
377091    LKQ
377092    LKQ
Name: Symbol, Length: 3768, dtype: object
290126    HSIC
290127    HSIC
290128    HSIC
290129    HSIC
290130    HSIC
          ...
293889    HSIC
293890    HSIC
293891    HSIC
293892    HSIC
293893    HSIC
Name: Symbol, Length: 3768, dtype: object
224773    ESS
224774    ESS
224775    ESS
224776    ESS
224777    ESS
         ...
228536    ESS
228537    ESS
228538    ESS
228539    ESS
228540    ESS
Name: Symbol, Length: 3768, dtype: object
236077    FFIV
236078    FFIV
236079    FFIV
236080    FFIV
236081    FFIV
          ...
239840    FFIV
239841    FFIV
239842    FFIV
239843    FFIV
239844    FFIV
Name: Symbol, Length: 3768, dtype: object
247381    FRT
247382    FRT
247383    FRT
247384    FRT
247385    FRT
         ...
251144    FRT
251145    FRT
251146    FRT
251147    FRT
251148    FRT
Name: Symbol, Length: 3768, dtype: object
47254    ANSS
47255    ANSS
47256    ANSS
47257    ANSS
47258    ANSS
         ...
51017    ANSS
51018    ANSS
51019    ANSS
51020    ANSS
51021    ANSS
Name: Symbol, Length: 3768, dtype: object
155413    CSGP
155414    CSGP
155415    CSGP
155416    CSGP
155417    CSGP
          ...
159176    CSGP
159177    CSGP
159178    CSGP
159179    CSGP
159180    CSGP
Name: Symbol, Length: 3768, dtype: object
519863    SYF
519864    SYF
519865    SYF
519866    SYF
519867    SYF
         ...
522475    SYF
522476    SYF
522477    SYF
522478    SYF
522479    SYF
Name: Symbol, Length: 2617, dtype: object
64981    AXON
64982    AXON
64983    AXON
64984    AXON
64985    AXON
         ...
68744    AXON
68745    AXON
68746    AXON
68747    AXON
68748    AXON
Name: Symbol, Length: 3768, dtype: object
251149    FDX
251150    FDX
251151    FDX
251152    FDX
251153    FDX
         ...
254912    FDX
254913    FDX
254914    FDX
254915    FDX
254916    FDX
Name: Symbol, Length: 3768, dtype: object
302747    HST
302748    HST
302749    HST
302750    HST
302751    HST
         ...
306510    HST
306511    HST
306512    HST
306513    HST
306514    HST
Name: Symbol, Length: 3768, dtype: object
417942    ON
417943    ON
417944    ON
417945    ON
417946    ON
          ..
421705    ON
421706    ON
421707    ON
421708    ON
421709    ON
Name: Symbol, Length: 3768, dtype: object
440550    PEP
440551    PEP
440552    PEP
440553    PEP
440554    PEP
         ...
444313    PEP
444314    PEP
444315    PEP
444316    PEP
444317    PEP
Name: Symbol, Length: 3768, dtype: object
561453    UHS
561454    UHS
561455    UHS
561456    UHS
561457    UHS
         ...
565216    UHS
565217    UHS
565218    UHS
565219    UHS
565220    UHS
Name: Symbol, Length: 3768, dtype: object
429246    PARA
429247    PARA
429248    PARA
429249    PARA
429250    PARA
          ...
433009    PARA
433010    PARA
433011    PARA
433012    PARA
433013    PARA
Name: Symbol, Length: 3768, dtype: object
470694    PEG
470695    PEG
470696    PEG
470697    PEG
470698    PEG
         ...
474457    PEG
474458    PEG
474459    PEG
474460    PEG
474461    PEG
Name: Symbol, Length: 3768, dtype: object
455622    PPG
455623    PPG
455624    PPG
455625    PPG
455626    PPG
         ...
459385    PPG
459386    PPG
459387    PPG
459388    PPG
459389    PPG
Name: Symbol, Length: 3768, dtype: object
187658    DHI
187659    DHI
187660    DHI
187661    DHI
187662    DHI
         ...
191421    DHI
191422    DHI
191423    DHI
191424    DHI
191425    DHI
Name: Symbol, Length: 3768, dtype: object
614512    XYL
614513    XYL
614514    XYL
614515    XYL
614516    XYL
         ...
617826    XYL
617827    XYL
617828    XYL
617829    XYL
617830    XYL
Name: Symbol, Length: 3319, dtype: object
61213    T
61214    T
61215    T
61216    T
61217    T
        ..
64976    T
64977    T
64978    T
64979    T
64980    T
Name: Symbol, Length: 3768, dtype: object
202730    EA
202731    EA
202732    EA
202733    EA
202734    EA
          ..
206493    EA
206494    EA
206495    EA
206496    EA
206497    EA
Name: Symbol, Length: 3768, dtype: object
410406    NVDA
410407    NVDA
410408    NVDA
410409    NVDA
410410    NVDA
          ...
414169    NVDA
414170    NVDA
414171    NVDA
414172    NVDA
414173    NVDA
Name: Symbol, Length: 3768, dtype: object
358253    KIM
358254    KIM
358255    KIM
358256    KIM
358257    KIM
         ...
362016    KIM
362017    KIM
362018    KIM
362019    KIM
362020    KIM
Name: Symbol, Length: 3768, dtype: object
265366    BEN
265367    BEN
265368    BEN
265369    BEN
265370    BEN
         ...
269129    BEN
269130    BEN
269131    BEN
269132    BEN
269133    BEN
Name: Symbol, Length: 3768, dtype: object
282888    HIG
282889    HIG
282890    HIG
282891    HIG
282892    HIG
         ...
286651    HIG
286652    HIG
286653    HIG
286654    HIG
286655    HIG
Name: Symbol, Length: 3768, dtype: object
206498    ENPH
206499    ENPH
206500    ENPH
206501    ENPH
206502    ENPH
          ...
209696    ENPH
209697    ENPH
209698    ENPH
209699    ENPH
209700    ENPH
Name: Symbol, Length: 3203, dtype: object
83821    BK
83822    BK
83823    BK
83824    BK
83825    BK
         ..
87584    BK
87585    BK
87586    BK
87587    BK
87588    BK
Name: Symbol, Length: 3768, dtype: object
263910    FOX
263911    FOX
263912    FOX
263913    FOX
263914    FOX
         ...
265361    FOX
265362    FOX
265363    FOX
265364    FOX
265365    FOX
Name: Symbol, Length: 1456, dtype: object
140341    CMCSA
140342    CMCSA
140343    CMCSA
140344    CMCSA
140345    CMCSA
          ...
144104    CMCSA
144105    CMCSA
144106    CMCSA
144107    CMCSA
144108    CMCSA
Name: Symbol, Length: 3768, dtype: object
346949    JBHT
346950    JBHT
346951    JBHT
346952    JBHT
346953    JBHT
          ...
350712    JBHT
350713    JBHT
350714    JBHT
350715    JBHT
350716    JBHT
Name: Symbol, Length: 3768, dtype: object
584368    WRB
584369    WRB
584370    WRB
584371    WRB
584372    WRB
         ...
588131    WRB
588132    WRB
588133    WRB
588134    WRB
588135    WRB
Name: Symbol, Length: 3768, dtype: object
330733    IP
330734    IP
330735    IP
330736    IP
330737    IP
          ..
334496    IP
334497    IP
334498    IP
334499    IP
334500    IP
Name: Symbol, Length: 3768, dtype: object
387798    MTD
387799    MTD
387800    MTD
387801    MTD
387802    MTD
         ...
391561    MTD
391562    MTD
391563    MTD
391564    MTD
391565    MTD
Name: Symbol, Length: 3768, dtype: object
522480    TTWO
522481    TTWO
522482    TTWO
522483    TTWO
522484    TTWO
          ...
526243    TTWO
526244    TTWO
526245    TTWO
526246    TTWO
526247    TTWO
Name: Symbol, Length: 3768, dtype: object
168818    DLR
168819    DLR
168820    DLR
168821    DLR
168822    DLR
         ...
172581    DLR
172582    DLR
172583    DLR
172584    DLR
172585    DLR
Name: Symbol, Length: 3768, dtype: object
213469    EFX
213470    EFX
213471    EFX
213472    EFX
213473    EFX
         ...
217232    EFX
217233    EFX
217234    EFX
217235    EFX
217236    EFX
Name: Symbol, Length: 3768, dtype: object
481998    RJF
481999    RJF
482000    RJF
482001    RJF
482002    RJF
         ...
485761    RJF
485762    RJF
485763    RJF
485764    RJF
485765    RJF
Name: Symbol, Length: 3768, dtype: object
489534    O
489535    O
489536    O
489537    O
489538    O
         ..
493297    O
493298    O
493299    O
493300    O
493301    O
Name: Symbol, Length: 3768, dtype: object
180122    DPZ
180123    DPZ
180124    DPZ
180125    DPZ
180126    DPZ
         ...
183885    DPZ
183886    DPZ
183887    DPZ
183888    DPZ
183889    DPZ
Name: Symbol, Length: 3768, dtype: object
365789    LRCX
365790    LRCX
365791    LRCX
365792    LRCX
365793    LRCX
          ...
369552    LRCX
369553    LRCX
369554    LRCX
369555    LRCX
369556    LRCX
Name: Symbol, Length: 3768, dtype: object
497070    RVTY
497071    RVTY
497072    RVTY
497073    RVTY
497074    RVTY
          ...
500833    RVTY
500834    RVTY
500835    RVTY
500836    RVTY
500837    RVTY
Name: Symbol, Length: 3768, dtype: object
474462    PHM
474463    PHM
474464    PHM
474465    PHM
474466    PHM
         ...
478225    PHM
478226    PHM
478227    PHM
478228    PHM
478229    PHM
Name: Symbol, Length: 3768, dtype: object
0       AOS
1       AOS
2       AOS
3       AOS
4       AOS
       ...
3763    AOS
3764    AOS
3765    AOS
3766    AOS
3767    AOS
Name: Symbol, Length: 3768, dtype: object
340255    IQV
340256    IQV
340257    IQV
340258    IQV
340259    IQV
         ...
343176    IQV
343177    IQV
343178    IQV
343179    IQV
343180    IQV
Name: Symbol, Length: 2926, dtype: object
232309    EXPE
232310    EXPE
232311    EXPE
232312    EXPE
232313    EXPE
          ...
236072    EXPE
236073    EXPE
236074    EXPE
236075    EXPE
236076    EXPE
Name: Symbol, Length: 3768, dtype: object
433014    PH
433015    PH
433016    PH
433017    PH
433018    PH
          ..
436777    PH
436778    PH
436779    PH
436780    PH
436781    PH
Name: Symbol, Length: 3768, dtype: object
129037    C
129038    C
129039    C
129040    C
129041    C
         ..
132800    C
132801    C
132802    C
132803    C
132804    C
Name: Symbol, Length: 3768, dtype: object
262453    FOXA
262454    FOXA
262455    FOXA
262456    FOXA
262457    FOXA
          ...
263905    FOXA
263906    FOXA
263907    FOXA
263908    FOXA
263909    FOXA
Name: Symbol, Length: 1457, dtype: object
384629    META
384630    META
384631    META
384632    META
384633    META
          ...
387793    META
387794    META
387795    META
387796    META
387797    META
Name: Symbol, Length: 3169, dtype: object
421710    ORCL
421711    ORCL
421712    ORCL
421713    ORCL
421714    ORCL
          ...
425473    ORCL
425474    ORCL
425475    ORCL
425476    ORCL
425477    ORCL
Name: Symbol, Length: 3768, dtype: object
568989    VLTO
568990    VLTO
568991    VLTO
568992    VLTO
568993    VLTO
          ...
569291    VLTO
569292    VLTO
569293    VLTO
569294    VLTO
569295    VLTO
Name: Symbol, Length: 307, dtype: object
254917    FSLR
254918    FSLR
254919    FSLR
254920    FSLR
254921    FSLR
          ...
258680    FSLR
258681    FSLR
258682    FSLR
258683    FSLR
258684    FSLR
Name: Symbol, Length: 3768, dtype: object
414174    OMC
414175    OMC
414176    OMC
414177    OMC
414178    OMC
         ...
417937    OMC
417938    OMC
417939    OMC
417940    OMC
417941    OMC
Name: Symbol, Length: 3768, dtype: object
306515    HII
306516    HII
306517    HII
306518    HII
306519    HII
         ...
309972    HII
309973    HII
309974    HII
309975    HII
309976    HII
Name: Symbol, Length: 3462, dtype: object
198962    EIX
198963    EIX
198964    EIX
198965    EIX
198966    EIX
         ...
202725    EIX
202726    EIX
202727    EIX
202728    EIX
202729    EIX
Name: Symbol, Length: 3768, dtype: object
323197    ICE
323198    ICE
323199    ICE
323200    ICE
323201    ICE
         ...
326960    ICE
326961    ICE
326962    ICE
326963    ICE
326964    ICE
Name: Symbol, Length: 3768, dtype: object
529894    TJX
529895    TJX
529896    TJX
529897    TJX
529898    TJX
         ...
533657    TJX
533658    TJX
533659    TJX
533660    TJX
533661    TJX
Name: Symbol, Length: 3768, dtype: object
576832    VTRS
576833    VTRS
576834    VTRS
576835    VTRS
576836    VTRS
          ...
580595    VTRS
580596    VTRS
580597    VTRS
580598    VTRS
580599    VTRS
Name: Symbol, Length: 3768, dtype: object
276670    GPN
276671    GPN
276672    GPN
276673    GPN
276674    GPN
         ...
280433    GPN
280434    GPN
280435    GPN
280436    GPN
280437    GPN
Name: Symbol, Length: 3768, dtype: object
309977    IEX
309978    IEX
309979    IEX
309980    IEX
309981    IEX
         ...
313740    IEX
313741    IEX
313742    IEX
313743    IEX
313744    IEX
Name: Symbol, Length: 3768, dtype: object
485766    RTX
485767    RTX
485768    RTX
485769    RTX
485770    RTX
         ...
489529    RTX
489530    RTX
489531    RTX
489532    RTX
489533    RTX
Name: Symbol, Length: 3768, dtype: object
151645    GLW
151646    GLW
151647    GLW
151648    GLW
151649    GLW
         ...
155408    GLW
155409    GLW
155410    GLW
155411    GLW
155412    GLW
Name: Symbol, Length: 3768, dtype: object
18086    ALLE
18087    ALLE
18088    ALLE
18089    ALLE
18090    ALLE
         ...
20873    ALLE
20874    ALLE
20875    ALLE
20876    ALLE
20877    ALLE
Name: Symbol, Length: 2792, dtype: object
117733    CE
117734    CE
117735    CE
117736    CE
117737    CE
          ..
121496    CE
121497    CE
121498    CE
121499    CE
121500    CE
Name: Symbol, Length: 3768, dtype: object
172586    DFS
172587    DFS
172588    DFS
172589    DFS
172590    DFS
         ...
176349    DFS
176350    DFS
176351    DFS
176352    DFS
176353    DFS
Name: Symbol, Length: 3768, dtype: object
463158    PFG
463159    PFG
463160    PFG
463161    PFG
463162    PFG
         ...
466921    PFG
466922    PFG
466923    PFG
466924    PFG
466925    PFG
Name: Symbol, Length: 3768, dtype: object
243613    FAST
243614    FAST
243615    FAST
243616    FAST
243617    FAST
          ...
247376    FAST
247377    FAST
247378    FAST
247379    FAST
247380    FAST
Name: Symbol, Length: 3768, dtype: object
110197    CCL
110198    CCL
110199    CCL
110200    CCL
110201    CCL
         ...
113960    CCL
113961    CCL
113962    CCL
113963    CCL
113964    CCL
Name: Symbol, Length: 3768, dtype: object
14318    ALB
14319    ALB
14320    ALB
14321    ALB
14322    ALB
        ...
18081    ALB
18082    ALB
18083    ALB
18084    ALB
18085    ALB
Name: Symbol, Length: 3768, dtype: object
76285    BDX
76286    BDX
76287    BDX
76288    BDX
76289    BDX
        ...
80048    BDX
80049    BDX
80050    BDX
80051    BDX
80052    BDX
Name: Symbol, Length: 3768, dtype: object
565221    VLO
565222    VLO
565223    VLO
565224    VLO
565225    VLO
         ...
568984    VLO
568985    VLO
568986    VLO
568987    VLO
568988    VLO
Name: Symbol, Length: 3768, dtype: object
553917    UAL
553918    UAL
553919    UAL
553920    UAL
553921    UAL
         ...
557680    UAL
557681    UAL
557682    UAL
557683    UAL
557684    UAL
Name: Symbol, Length: 3768, dtype: object
102661    COF
102662    COF
102663    COF
102664    COF
102665    COF
         ...
106424    COF
106425    COF
106426    COF
106427    COF
106428    COF
Name: Symbol, Length: 3768, dtype: object
391566    MSFT
391567    MSFT
391568    MSFT
391569    MSFT
391570    MSFT
          ...
395329    MSFT
395330    MSFT
395331    MSFT
395332    MSFT
395333    MSFT
Name: Symbol, Length: 3768, dtype: object
280438    GDDY
280439    GDDY
280440    GDDY
280441    GDDY
280442    GDDY
          ...
282883    GDDY
282884    GDDY
282885    GDDY
282886    GDDY
282887    GDDY
Name: Symbol, Length: 2450, dtype: object
39718    AMP
39719    AMP
39720    AMP
39721    AMP
39722    AMP
        ...
43481    AMP
43482    AMP
43483    AMP
43484    AMP
43485    AMP
Name: Symbol, Length: 3768, dtype: object
425478    PKG
425479    PKG
425480    PKG
425481    PKG
425482    PKG
         ...
429241    PKG
429242    PKG
429243    PKG
429244    PKG
429245    PKG
Name: Symbol, Length: 3768, dtype: object
159181    DE
159182    DE
159183    DE
159184    DE
159185    DE
          ..
162944    DE
162945    DE
162946    DE
162947    DE
162948    DE
Name: Symbol, Length: 3768, dtype: object
176354    DG
176355    DG
176356    DG
176357    DG
176358    DG
          ..
180117    DG
180118    DG
180119    DG
180120    DG
180121    DG
Name: Symbol, Length: 3768, dtype: object
338269    INVH
338270    INVH
338271    INVH
338272    INVH
338273    INVH
          ...
340250    INVH
340251    INVH
340252    INVH
340253    INVH
340254    INVH
Name: Symbol, Length: 1986, dtype: object
380861    MRK
380862    MRK
380863    MRK
380864    MRK
380865    MRK
         ...
384624    MRK
384625    MRK
384626    MRK
384627    MRK
384628    MRK
Name: Symbol, Length: 3768, dtype: object
354485    K
354486    K
354487    K
354488    K
354489    K
         ..
358248    K
358249    K
358250    K
358251    K
358252    K
Name: Symbol, Length: 3768, dtype: object
537430    TDG
537431    TDG
537432    TDG
537433    TDG
537434    TDG
         ...
541193    TDG
541194    TDG
541195    TDG
541196    TDG
541197    TDG
Name: Symbol, Length: 3768, dtype: object
183890    DOV
183891    DOV
183892    DOV
183893    DOV
183894    DOV
         ...
187653    DOV
187654    DOV
187655    DOV
187656    DOV
187657    DOV
Name: Symbol, Length: 3768, dtype: object
296204    HLT
296205    HLT
296206    HLT
296207    HLT
296208    HLT
         ...
298974    HLT
298975    HLT
298976    HLT
298977    HLT
298978    HLT
Name: Symbol, Length: 2775, dtype: object
504606    SHW
504607    SHW
504608    SHW
504609    SHW
504610    SHW
         ...
508369    SHW
508370    SHW
508371    SHW
508372    SHW
508373    SHW
Name: Symbol, Length: 3768, dtype: object
508374    SOLV
508375    SOLV
508376    SOLV
508377    SOLV
508378    SOLV
          ...
508554    SOLV
508555    SOLV
508556    SOLV
508557    SOLV
508558    SOLV
Name: Symbol, Length: 185, dtype: object
548734    UBER
548735    UBER
548736    UBER
548737    UBER
548738    UBER
          ...
550144    UBER
550145    UBER
550146    UBER
550147    UBER
550148    UBER
Name: Symbol, Length: 1415, dtype: object
68749    BKR
68750    BKR
68751    BKR
68752    BKR
68753    BKR
        ...
72512    BKR
72513    BKR
72514    BKR
72515    BKR
72516    BKR
Name: Symbol, Length: 3768, dtype: object
125269    CSCO
125270    CSCO
125271    CSCO
125272    CSCO
125273    CSCO
          ...
129032    CSCO
129033    CSCO
129034    CSCO
129035    CSCO
129036    CSCO
Name: Symbol, Length: 3768, dtype: object
395334    MSI
395335    MSI
395336    MSI
395337    MSI
395338    MSI
         ...
399097    MSI
399098    MSI
399099    MSI
399100    MSI
399101    MSI
Name: Symbol, Length: 3768, dtype: object
557685    UPS
557686    UPS
557687    UPS
557688    UPS
557689    UPS
         ...
561448    UPS
561449    UPS
561450    UPS
561451    UPS
561452    UPS
Name: Symbol, Length: 3768, dtype: object
272902    GIS
272903    GIS
272904    GIS
272905    GIS
272906    GIS
         ...
276665    GIS
276666    GIS
276667    GIS
276668    GIS
276669    GIS
Name: Symbol, Length: 3768, dtype: object
221005    EQR
221006    EQR
221007    EQR
221008    EQR
221009    EQR

In [56]:
df['pctChange'] = df.groupby('Symbol')['Adj Close'].pct_change() * 100

In [57]:
df.head()

         Date Symbol                        Industry  Adj Close  pctChange
0  2010-01-04    AOS  Specialty Industrial Machinery   5.937266        NaN
1  2010-01-05    AOS  Specialty Industrial Machinery   5.861404  -1.277725
2  2010-01-06    AOS  Specialty Industrial Machinery   5.864068   0.045443
3  2010-01-07    AOS  Specialty Industrial Machinery   5.881369   0.295027
4  2010-01-08    AOS  Specialty Industrial Machinery   5.967879   1.470919

In [61]:
df.loc[df['Symbol'] == 'BBY']

             Date Symbol          Industry  Adj Close  pctChange
80053  2010-01-04    BBY  Specialty Retail  25.050417        NaN
80054  2010-01-05    BBY  Specialty Retail  25.686176   2.537919
80055  2010-01-06    BBY  Specialty Retail  25.486727  -0.776486
80056  2010-01-07    BBY  Specialty Retail  25.891870   1.589626
80057  2010-01-08    BBY  Specialty Retail  24.875891  -3.923933
...           ...    ...               ...        ...        ...
83816  2024-12-16    BBY  Specialty Retail  87.619995   1.095886
83817  2024-12-17    BBY  Specialty Retail  87.480003  -0.159771
83818  2024-12-18    BBY  Specialty Retail  86.010002  -1.680385
83819  2024-12-19    BBY  Specialty Retail  85.199997  -0.941757
83820  2024-12-20    BBY  Specialty Retail  85.550003   0.410805

[3768 rows x 5 columns]

In [67]:
df["up_ind"] = (df["pctChange"] > 0).astype(int)
df.head()

,Date,Symbol,Industry,Adj Close,pctChange,up_ind
0,2010-01-04,AOS,Specialty Industrial Machinery,5.937266,NaN,0
1,2010-01-05,AOS,Specialty Industrial Machinery,5.861404,-1.277725,0
2,2010-01-06,AOS,Specialty Industrial Machinery,5.864068,0.045443,1
3,2010-01-07,AOS,Specialty Industrial Machinery,5.881369,0.295027,1
4,2010-01-08,AOS,Specialty Industrial Machinery,5.967879,1.470919,1