In [141]:
import numpy as np
import pandas as pd

In [142]:
import seaborn as sns

In [143]:
stocks = pd.read_csv('cleaned_stocks_data.csv')
stocks.describe()

,Adj Close,Close,High,Low,Open,Volume,Year,Currentprice,Marketcap,Ebitda,Revenuegrowth,Fulltimeemployees,Weight
count,565200.000000,565200.000000,565200.000000,565200.000000,565200.000000,5.652000e+05,565200.000000,565200.000000,5.652000e+05,5.237520e+05,561432.000000,5.463600e+05,565200.000000
mean,79.723185,87.931672,88.865829,86.952098,87.920313,9.073506e+06,2016.987527,179.708533,1.406599e+11,8.234537e+09,0.073114,6.129514e+04,0.002531
std,104.756753,106.588070,107.761249,105.352975,106.585525,4.887218e+07,4.314056,198.292312,4.571243e+11,1.917470e+10,0.152954,1.438352e+05,0.008224
min,0.203593,0.222000,0.226250,0.216250,0.218000,0.000000e+00,2010.000000,10.660000,6.972156e+09,-9.350780e+08,-0.414000,1.630000e+02,0.000125
25%,26.602711,33.219435,33.580002,32.834876,33.209827,1.157900e+06,2013.000000,70.580000,1.952631e+10,1.688400e+09,0.006000,1.060000e+04,0.000351
50%,49.855579,59.379923,59.950001,58.740002,59.353888,2.439400e+06,2017.000000,112.295000,3.354366e+10,3.025479e+09,0.056000,2.190000e+04,0.000603
75%,93.848354,104.400002,105.480215,103.269997,104.370003,5.505625e+06,2021.000000,227.630000,8.509196e+10,5.878000e+09,0.119000,6.112000e+04,0.001531
max,1702.530029,1702.530029,1714.750000,1696.900024,1706.400024,3.692928e+09,2024.000000,1276.150000,3.298803e+12,1.365520e+11,1.224000,1.551000e+06,0.059350

In [144]:
stocks.head()

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume,Year,Exchange,...,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
0,2010-01-04,AOS,5.937266,7.435000,7.480000,7.261667,7.295000,1104600.0,2010,NYQ,...,68.72,9964057600,809100032.0,-0.037,Milwaukee,WI,United States,12000.0,A. O. Smith Corporation manufactures and marke...,0.000179
1,2010-01-05,AOS,5.861404,7.340000,7.431667,7.308333,7.431667,1207200.0,2010,NYQ,...,68.72,9964057600,809100032.0,-0.037,Milwaukee,WI,United States,12000.0,A. O. Smith Corporation manufactures and marke...,0.000179
2,2010-01-06,AOS,5.864068,7.343333,7.405000,7.301667,7.335000,663000.0,2010,NYQ,...,68.72,9964057600,809100032.0,-0.037,Milwaukee,WI,United States,12000.0,A. O. Smith Corporation manufactures and marke...,0.000179
3,2010-01-07,AOS,5.881369,7.365000,7.425000,7.311667,7.356667,564000.0,2010,NYQ,...,68.72,9964057600,809100032.0,-0.037,Milwaukee,WI,United States,12000.0,A. O. Smith Corporation manufactures and marke...,0.000179
4,2010-01-08,AOS,5.967879,7.473333,7.485000,7.311667,7.331667,504600.0,2010,NYQ,...,68.72,9964057600,809100032.0,-0.037,Milwaukee,WI,United States,12000.0,A. O. Smith Corporation manufactures and marke...,0.000179

In [145]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565200 entries, 0 to 565199
Data columns (total 24 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Date                 565200 non-null  object
 1   Symbol               565200 non-null  object
 2   Adj Close            565200 non-null  float64
 3   Close                565200 non-null  float64
 4   High                 565200 non-null  float64
 5   Low                  565200 non-null  float64
 6   Open                 565200 non-null  float64
 7   Volume               565200 non-null  float64
 8   Year                 565200 non-null  int64
 9   Exchange             565200 non-null  object
 10  Shortname            565200 non-null  object
 11  Longname             565200 non-null  object
 12  Sector               565200 non-null  object
 13  Industry             565200 non-null  object
 14  Currentprice         565200 non-null  float64
 15  Marketcap            565200 non-null  int64
 16  Ebitda               523752 non-null  float64
 17  Revenuegrowth        561432 non-null  float64
 18  City                 565200 non-null  object
 19  State                553896 non-null  object
 20  Country              565200 non-null  object
 21  Fulltimeemployees    546360 non-null  float64
 22  Longbusinesssummary  565200 non-null  object
 23  Weight               565200 non-null  float64
dtypes: float64(11), int64(2), object(11)
memory usage: 103.5+ MB

In [146]:
valued_stocks = stocks.dropna()
valued_stocks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 493608 entries, 0 to 561431
Data columns (total 24 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Date                 493608 non-null  object
 1   Symbol               493608 non-null  object
 2   Adj Close            493608 non-null  float64
 3   Close                493608 non-null  float64
 4   High                 493608 non-null  float64
 5   Low                  493608 non-null  float64
 6   Open                 493608 non-null  float64
 7   Volume               493608 non-null  float64
 8   Year                 493608 non-null  int64
 9   Exchange             493608 non-null  object
 10  Shortname            493608 non-null  object
 11  Longname             493608 non-null  object
 12  Sector               493608 non-null  object
 13  Industry             493608 non-null  object
 14  Currentprice         493608 non-null  float64
 15  Marketcap            493608 non-null  int64
 16  Ebitda               493608 non-null  float64
 17  Revenuegrowth        493608 non-null  float64
 18  City                 493608 non-null  object
 19  State                493608 non-null  object
 20  Country              493608 non-null  object
 21  Fulltimeemployees    493608 non-null  float64
 22  Longbusinesssummary  493608 non-null  object
 23  Weight               493608 non-null  float64
dtypes: float64(11), int64(2), object(11)
memory usage: 94.1+ MB

In [147]:
valued_stocks.head()

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume,Year,Exchange,...,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
0,2010-01-04,AOS,5.937266,7.435000,7.480000,7.261667,7.295000,1104600.0,2010,NYQ,...,68.72,9964057600,809100032.0,-0.037,Milwaukee,WI,United States,12000.0,A. O. Smith Corporation manufactures and marke...,0.000179
1,2010-01-05,AOS,5.861404,7.340000,7.431667,7.308333,7.431667,1207200.0,2010,NYQ,...,68.72,9964057600,809100032.0,-0.037,Milwaukee,WI,United States,12000.0,A. O. Smith Corporation manufactures and marke...,0.000179
2,2010-01-06,AOS,5.864068,7.343333,7.405000,7.301667,7.335000,663000.0,2010,NYQ,...,68.72,9964057600,809100032.0,-0.037,Milwaukee,WI,United States,12000.0,A. O. Smith Corporation manufactures and marke...,0.000179
3,2010-01-07,AOS,5.881369,7.365000,7.425000,7.311667,7.356667,564000.0,2010,NYQ,...,68.72,9964057600,809100032.0,-0.037,Milwaukee,WI,United States,12000.0,A. O. Smith Corporation manufactures and marke...,0.000179
4,2010-01-08,AOS,5.967879,7.473333,7.485000,7.311667,7.331667,504600.0,2010,NYQ,...,68.72,9964057600,809100032.0,-0.037,Milwaukee,WI,United States,12000.0,A. O. Smith Corporation manufactures and marke...,0.000179

In [148]:
valued_stocks.columns

Index(['Date', 'Symbol', 'Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume',
       'Year', 'Exchange', 'Shortname', 'Longname', 'Sector', 'Industry',
       'Currentprice', 'Marketcap', 'Ebitda', 'Revenuegrowth', 'City', 'State',
       'Country', 'Fulltimeemployees', 'Longbusinesssummary', 'Weight'],
      dtype='object')

In [149]:
df = valued_stocks[['Date', 'Symbol', 'Industry', 'Adj Close']]
df.head()

         Date Symbol                        Industry  Adj Close
0  2010-01-04    AOS  Specialty Industrial Machinery   5.937266
1  2010-01-05    AOS  Specialty Industrial Machinery   5.861404
2  2010-01-06    AOS  Specialty Industrial Machinery   5.864068
3  2010-01-07    AOS  Specialty Industrial Machinery   5.881369
4  2010-01-08    AOS  Specialty Industrial Machinery   5.967879

In [150]:
symbols = set(df['Symbol'].values)

In [151]:
df.groupby('Symbol').count()

        Date  Industry  Adj Close
Symbol
ABT     3768      3768       3768
ADM     3768      3768       3768
AES     3768      3768       3768
AJG     3768      3768       3768
ALB     3768      3768       3768
...      ...       ...        ...
VTRS    3768      3768       3768
WEC     3768      3768       3768
WELL    3768      3768       3768
WMB     3768      3768       3768
WST     3768      3768       3768

[131 rows x 3 columns]

In [152]:
df = df.groupby(['Date', 'Industry']).sum(['Adj Close'])

In [153]:
df.reset_index(inplace=True)

In [154]:
df

              Date                        Industry   Adj Close
0       2010-01-04            Advertising Agencies   25.307480
1       2010-01-04             Aerospace & Defense   58.967900
2       2010-01-04                        Airlines   12.800000
3       2010-01-04                  Apparel Retail    7.407835
4       2010-01-04                Asset Management   36.649082
...            ...                             ...         ...
256219  2024-12-20                         Tobacco  178.060001
256220  2024-12-20             Tools & Accessories   82.000000
256221  2024-12-20                 Travel Services  211.549999
256222  2024-12-20         Utilities - Diversified   13.000000
256223  2024-12-20  Utilities - Regulated Electric  669.539993

[256224 rows x 3 columns]

In [155]:
df['pctChange'] = df.groupby('Industry')['Adj Close'].pct_change()

df

              Date                        Industry   Adj Close  pctChange
0       2010-01-04            Advertising Agencies   25.307480        NaN
1       2010-01-04             Aerospace & Defense   58.967900        NaN
2       2010-01-04                        Airlines   12.800000        NaN
3       2010-01-04                  Apparel Retail    7.407835        NaN
4       2010-01-04                Asset Management   36.649082        NaN
...            ...                             ...         ...        ...
256219  2024-12-20                         Tobacco  178.060001   0.016556
256220  2024-12-20             Tools & Accessories   82.000000   0.032356
256221  2024-12-20                 Travel Services  211.549999   0.034019
256222  2024-12-20         Utilities - Diversified   13.000000   0.045016
256223  2024-12-20  Utilities - Regulated Electric  669.539993   0.014516

[256224 rows x 4 columns]

In [162]:
df.loc[df['Industry'] == 'Advertising Agencies']

              Date              Industry  Adj Close  pctChange
0       2010-01-04  Advertising Agencies  25.307480        NaN
68      2010-01-05  Advertising Agencies  25.218061  -0.003533
136     2010-01-06  Advertising Agencies  25.020050  -0.007852
204     2010-01-07  Advertising Agencies  24.873131  -0.005872
272     2010-01-08  Advertising Agencies  25.160568   0.011556
...            ...                   ...        ...        ...
255884  2024-12-16  Advertising Agencies  90.166107   0.006311
255952  2024-12-17  Advertising Agencies  88.261398  -0.021124
256020  2024-12-18  Advertising Agencies  87.051117  -0.013712
256088  2024-12-19  Advertising Agencies  87.190002   0.001595
256156  2024-12-20  Advertising Agencies  88.860001   0.019154

[3768 rows x 4 columns]

In [163]:
df['up_ind'] = (df['pctChange'] > 0).astype(int)

df

,Date,Industry,Adj Close,pctChange,up_ind
0,2010-01-04,Advertising Agencies,25.307480,NaN,0
1,2010-01-04,Aerospace & Defense,58.967900,NaN,0
2,2010-01-04,Airlines,12.800000,NaN,0
3,2010-01-04,Apparel Retail,7.407835,NaN,0
4,2010-01-04,Asset Management,36.649082,NaN,0
...,...,...,...,...,...
256219,2024-12-20,Tobacco,178.060001,0.016556,1
256220,2024-12-20,Tools & Accessories,82.000000,0.032356,1
256221,2024-12-20,Travel Services,211.549999,0.034019,1
256222,2024-12-20,Utilities - Diversified,13.000000,0.045016,1
256223,2024-12-20,Utilities - Regulated Electric,669.539993,0.014516,1

In [164]:
df.to_csv('stocks_aggregated.csv', index=False)

In [66]:
df["up_ind"] = (df["pctChange"] > 0).astype(int)
df.head()

,Date,Symbol,Industry,Adj Close,pctChange,up_ind
0,2010-01-04,AOS,Specialty Industrial Machinery,5.937266,NaN,0
1,2010-01-05,AOS,Specialty Industrial Machinery,5.861404,-1.277725,0
2,2010-01-06,AOS,Specialty Industrial Machinery,5.864068,0.045443,1
3,2010-01-07,AOS,Specialty Industrial Machinery,5.881369,0.295027,1
4,2010-01-08,AOS,Specialty Industrial Machinery,5.967879,1.470919,1