In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the stocks file
stocks = pd.read_csv('archive/sp500_stocks.csv')
stocks.describe()

,Adj Close,Close,High,Low,Open,Volume
count,617831.000000,617831.000000,617831.000000,617831.000000,617831.000000,6.178310e+05
mean,79.672357,87.471540,88.417844,86.480997,87.460302,9.347125e+06
std,102.742931,104.521901,105.684113,103.300770,104.519845,4.771669e+07
min,0.203593,0.222000,0.226250,0.216250,0.218000,0.000000e+00
25%,26.572459,32.700001,33.060001,32.299999,32.689999,1.144000e+06
50%,49.821613,59.139999,59.720001,58.500000,59.119999,2.453400e+06
75%,94.831036,105.019997,106.129997,103.889999,105.000000,5.657850e+06
max,1702.530029,1702.530029,1714.750000,1696.900024,1706.400024,3.692928e+09

In [3]:
# Missing Analysis
missing_data = stocks.isnull().sum()
print("Missing Data per Column:")
print(missing_data)

Missing Data per Column:
Date               0
Symbol             0
Adj Close    1273705
Close        1273705
High         1273705
Low          1273705
Open         1273705
Volume       1273705
dtype: int64

In [4]:
# Check Missing Data By Year
stocks['Year'] = pd.to_datetime(stocks['Date']).dt.year
missing_by_year = stocks.groupby('Year').apply(lambda x: x.isnull().sum())
missing_by_year

/var/folders/6g/_wpr8bs53rs84lqb6nn_rk900000gn/T/ipykernel_28730/3536166782.py:3: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  missing_by_year = stocks.groupby('Year').apply(lambda x: x.isnull().sum())

      Date  Symbol  Adj Close  Close   High    Low   Open  Volume  Year
Year
2010     0       0      88574  88574  88574  88574  88574   88574     0
2011     0       0      87993  87993  87993  87993  87993   87993     0
2012     0       0      86656  86656  86656  86656  86656   86656     0
2013     0       0      86733  86733  86733  86733  86733   86733     0
2014     0       0      85932  85932  85932  85932  85932   85932     0
2015     0       0      85436  85436  85436  85436  85436   85436     0
2016     0       0      85081  85081  85081  85081  85081   85081     0
2017     0       0      84195  84195  84195  84195  84195   84195     0
2018     0       0      84085  84085  84085  84085  84085   84085     0
2019     0       0      83848  83848  83848  83848  83848   83848     0
2020     0       0      83996  83996  83996  83996  83996   83996     0
2021     0       0      83664  83664  83664  83664  83664   83664     0
2022     0       0      83332  83332  83332  83332  83332   83332     0
2023     0       0      82939  82939  82939  82939  82939   82939     0
2024     0       0      81241  81241  81241  81241  81241   81241     0

In [5]:
# Check Missing Data by Company
missing_by_company = stocks.groupby('Symbol').apply(lambda x: x.isnull().sum())
missing_by_company

/var/folders/6g/_wpr8bs53rs84lqb6nn_rk900000gn/T/ipykernel_28730/1650259912.py:2: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  missing_by_company = stocks.groupby('Symbol').apply(lambda x: x.isnull().sum())

        Date  Symbol  Adj Close  Close  High   Low  Open  Volume  Year
Symbol
A          0       0       3768   3768  3768  3768  3768    3768     0
AAPL       0       0       3768   3768  3768  3768  3768    3768     0
ABBV       0       0        754    754   754   754   754     754     0
ABNB       0       0       3768   3768  3768  3768  3768    3768     0
ABT        0       0          0      0     0     0     0       0     0
...      ...     ...        ...    ...   ...   ...   ...     ...   ...
XYL        0       0        449    449   449   449   449     449     0
YUM        0       0       3768   3768  3768  3768  3768    3768     0
ZBH        0       0       3768   3768  3768  3768  3768    3768     0
ZBRA       0       0       3768   3768  3768  3768  3768    3768     0
ZTS        0       0       3768   3768  3768  3768  3768    3768     0

[502 rows x 9 columns]

In [6]:
# How many companies are not fully missing for all years
partially_missing = missing_by_company[(missing_by_company[['Adj Close', 'Open', 'High', 'Low', 'Close', 'Volume']] < len(stocks['Date'].unique())).any(axis=1)]

# Filter out data where any of the columns are greater than zero
partially_missing = partially_missing.query('Low > 0 or High > 0 or Open > 0 or Close > 0 or Volume > 0 or `Adj Close` > 0')
partially_missing

#

        Date  Symbol  Adj Close  Close  High   Low  Open  Volume  Year
Symbol
ABBV       0       0        754    754   754   754   754     754     0
ALLE       0       0        976    976   976   976   976     976     0
ANET       0       0       1113   1113  1113  1113  1113    1113     0
DELL       0       0       1667   1667  1667  1667  1667    1667     0
ENPH       0       0        565    565   565   565   565     565     0
FOX        0       0       2312   2312  2312  2312  2312    2312     0
FOXA       0       0       2311   2311  2311  2311  2311    2311     0
GDDY       0       0       1318   1318  1318  1318  1318    1318     0
HCA        0       0        298    298   298   298   298     298     0
HII        0       0        306    306   306   306   306     306     0
HLT        0       0        993    993   993   993   993     993     0
HPE        0       0       1458   1458  1458  1458  1458    1458     0
INVH       0       0       1782   1782  1782  1782  1782    1782     0
IQV        0       0        842    842   842   842   842     842     0
IR         0       0       1852   1852  1852  1852  1852    1852     0
META       0       0        599    599   599   599   599     599     0
SOLV       0       0       3583   3583  3583  3583  3583    3583     0
SYF        0       0       1151   1151  1151  1151  1151    1151     0
TSLA       0       0        122    122   122   122   122     122     0
UBER       0       0       2353   2353  2353  2353  2353    2353     0
VLTO       0       0       3461   3461  3461  3461  3461    3461     0
XYL        0       0        449    449   449   449   449     449     0

In [7]:
# Look at AMD for 2023
amd_2023 = stocks[(stocks['Symbol'] == 'AMD') & (stocks['Year'] == 2023)]
amd_2023

             Date Symbol  Adj Close  Close  High  Low  Open  Volume  Year
25880  2023-01-03    AMD        NaN    NaN   NaN  NaN   NaN     NaN  2023
25881  2023-01-04    AMD        NaN    NaN   NaN  NaN   NaN     NaN  2023
25882  2023-01-05    AMD        NaN    NaN   NaN  NaN   NaN     NaN  2023
25883  2023-01-06    AMD        NaN    NaN   NaN  NaN   NaN     NaN  2023
25884  2023-01-09    AMD        NaN    NaN   NaN  NaN   NaN     NaN  2023
...           ...    ...        ...    ...   ...  ...   ...     ...   ...
26125  2023-12-22    AMD        NaN    NaN   NaN  NaN   NaN     NaN  2023
26126  2023-12-26    AMD        NaN    NaN   NaN  NaN   NaN     NaN  2023
26127  2023-12-27    AMD        NaN    NaN   NaN  NaN   NaN     NaN  2023
26128  2023-12-28    AMD        NaN    NaN   NaN  NaN   NaN     NaN  2023
26129  2023-12-29    AMD        NaN    NaN   NaN  NaN   NaN     NaN  2023

[250 rows x 9 columns]

In [8]:
# Filter companies with all missing numeric columns
num_cols = ['Adj Close', 'Open', 'High', 'Low', 'Close', 'Volume']
companies_all_missing = stocks.groupby('Symbol').filter(
    lambda x: x[num_cols].isnull().all().all()
)['Symbol'].unique()
companies_all_missing

array(['MMM', 'ACN', 'ADBE', 'AMD', 'AFL', 'A', 'APD', 'ABNB', 'AKAM',
       'ARE', 'ALGN', 'LNT', 'GOOGL', 'AMCR', 'AMTM', 'AEE', 'AEP', 'AIG',
       'AMT', 'AWK', 'AME', 'AMGN', 'ADI', 'AON', 'APA', 'AAPL', 'AMAT',
       'APTV', 'ACGL', 'AIZ', 'ATO', 'ADSK', 'ADP', 'AZO', 'AVB', 'AVY',
       'BALL', 'BAC', 'BRK-B', 'TECH', 'BIIB', 'BLK', 'BX', 'BA', 'BKNG',
       'BMY', 'AVGO', 'BR', 'BF-B', 'BG', 'BXP', 'CHRW', 'CDNS', 'CZR',
       'CPT', 'CPB', 'CAH', 'CARR', 'CBOE', 'CBRE', 'CDW', 'COR', 'CNC',
       'CNP', 'CF', 'CRL', 'SCHW', 'CHTR', 'CMG', 'CB', 'CHD', 'CI',
       'CINF', 'CTAS', 'CFG', 'CMS', 'KO', 'CTSH', 'CL', 'CAG', 'COP',
       'CEG', 'COO', 'CPRT', 'CPAY', 'CTVA', 'COST', 'CTRA', 'CRWD',
       'CCI', 'CSX', 'CMI', 'CVS', 'DHR', 'DRI', 'DVA', 'DAY', 'DECK',
       'DAL', 'DVN', 'FANG', 'DLTR', 'D', 'DOW', 'DUK', 'DD', 'ETN',
       'EBAY', 'ECL', 'EW', 'ELV', 'EMR', 'ETR', 'EOG', 'EPAM', 'ERIE',
       'EG', 'EVRG', 'ES', 'EXC', 'EXPD', 'EXR', 'XOM', 'FICO', 'FIS',
       'FITB', 'FE', 'FI', 'FMC', 'F', 'FTV', 'GRMN', 'IT', 'GE', 'GEHC',
       'GEV', 'GEN', 'GNRC', 'GD', 'GM', 'GPC', 'GILD', 'GL', 'GS', 'HAL',
       'HAS', 'DOC', 'HSY', 'HES', 'HOLX', 'HD', 'HON', 'HWM', 'HPQ',
       'HUBB', 'HUM', 'HBAN', 'IBM', 'IDXX', 'ITW', 'INTC', 'IPG', 'INTU',
       'IVZ', 'JBL', 'JKHY', 'J', 'JNJ', 'JPM', 'JNPR', 'KVUE', 'KDP',
       'KEY', 'KEYS', 'KMB', 'KMI', 'KKR', 'KLAC', 'KHC', 'KR', 'LHX',
       'LW', 'LVS', 'LDOS', 'LLY', 'LIN', 'LYV', 'LMT', 'L', 'LOW',
       'LULU', 'LYB', 'MTB', 'MPC', 'MKTX', 'MAR', 'MMC', 'MLM', 'MAS',
       'MA', 'MTCH', 'MKC', 'MCK', 'MDT', 'MET', 'MGM', 'MCHP', 'MU',
       'MAA', 'MRNA', 'MHK', 'MOH', 'TAP', 'MDLZ', 'MPWR', 'MNST', 'MCO',
       'MS', 'MOS', 'MSCI', 'NEM', 'NWSA', 'NWS', 'NEE', 'NKE', 'NI',
       'NDSN', 'NSC', 'NTRS', 'NOC', 'NCLH', 'NRG', 'NUE', 'NVR', 'NXPI',
       'ORLY', 'OXY', 'ODFL', 'OKE', 'OTIS', 'PCAR', 'PLTR', 'PANW',
       'PAYC', 'PYPL', 'PNR', 'PFE', 'PCG', 'PSX', 'POOL', 'PG', 'PLD',
       'PRU', 'PTC', 'PSA', 'QRVO', 'QCOM', 'DGX', 'RL', 'REG', 'REGN',
       'RSG', 'RMD', 'ROK', 'ROL', 'ROP', 'ROST', 'RCL', 'SPGI', 'SBAC',
       'SLB', 'STX', 'SRE', 'NOW', 'SPG', 'SWKS', 'SJM', 'SW', 'SNA',
       'LUV', 'STT', 'STLD', 'STE', 'SYK', 'SMCI', 'SNPS', 'SYY', 'TMUS',
       'TROW', 'TPR', 'TRGP', 'TGT', 'TEL', 'TDY', 'TFX', 'TER', 'TXN',
       'TPL', 'TXT', 'TMO', 'TSCO', 'TRV', 'TRMB', 'TFC', 'TYL', 'ULTA',
       'UNP', 'URI', 'UNH', 'VTR', 'VRSN', 'VZ', 'VICI', 'VST', 'VMC',
       'GWW', 'WAB', 'WBA', 'WMT', 'WBD', 'WM', 'WAT', 'WFC', 'WY',
       'WYNN', 'XEL', 'YUM', 'ZBRA', 'ZBH', 'ZTS'], dtype=object)

In [9]:
# Create new dataframe to join with company metadata
missing_companies = pd.DataFrame(companies_all_missing, columns=['Symbol'])
missing_companies

# Merge with metadata
company_metadata = pd.read_csv('archive/sp500_companies.csv')
merged_data = pd.merge(company_metadata, missing_companies, on='Symbol', how='left', indicator='matched')
merged_data

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight,matched
0,NMS,AAPL,Apple Inc.,Apple Inc.,Technology,Consumer Electronics,254.49,3846819807232,1.346610e+11,0.061,Cupertino,CA,United States,164000.0,"Apple Inc. designs, manufactures, and markets ...",0.069209,both
1,NMS,NVDA,NVIDIA Corporation,NVIDIA Corporation,Technology,Semiconductors,134.70,3298803056640,6.118400e+10,1.224,Santa Clara,CA,United States,29600.0,NVIDIA Corporation provides graphics and compu...,0.059350,left_only
2,NMS,MSFT,Microsoft Corporation,Microsoft Corporation,Technology,Software - Infrastructure,436.60,3246068596736,1.365520e+11,0.160,Redmond,WA,United States,228000.0,Microsoft Corporation develops and supports so...,0.058401,left_only
3,NMS,AMZN,"Amazon.com, Inc.","Amazon.com, Inc.",Consumer Cyclical,Internet Retail,224.92,2365033807872,1.115830e+11,0.110,Seattle,WA,United States,1551000.0,"Amazon.com, Inc. engages in the retail sale of...",0.042550,left_only
4,NMS,GOOGL,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,191.41,2351625142272,1.234700e+11,0.151,Mountain View,CA,United States,181269.0,Alphabet Inc. offers various products and plat...,0.042309,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,NMS,CZR,"Caesars Entertainment, Inc.","Caesars Entertainment, Inc.",Consumer Cyclical,Resorts & Casinos,32.82,6973593600,3.668000e+09,-0.040,Reno,NV,United States,51000.0,"Caesars Entertainment, Inc. operates as a gami...",0.000125,both
498,NYQ,BWA,BorgWarner Inc.,BorgWarner Inc.,Consumer Cyclical,Auto Parts,31.88,6972155904,1.882000e+09,-0.048,Auburn Hills,MI,United States,39900.0,"BorgWarner Inc., together with its subsidiarie...",0.000125,left_only
499,NMS,QRVO,"Qorvo, Inc.","Qorvo, Inc.",Technology,Semiconductors,70.85,6697217024,6.731300e+08,-0.052,Greensboro,NC,United States,8700.0,"Qorvo, Inc. engages in development and commerc...",0.000120,both
500,NYQ,FMC,FMC Corporation,FMC Corporation,Basic Materials,Agricultural Inputs,50.15,6260525568,7.033000e+08,0.085,Philadelphia,PA,United States,5800.0,"FMC Corporation, an agricultural sciences comp...",0.000113,both
501,NYQ,AMTM,"Amentum Holdings, Inc.","Amentum Holdings, Inc.",Industrials,Specialty Business Services,19.17,4664099328,4.330000e+08,-0.031,Chantilly,VA,United States,NaN,"Amentum Holdings, Inc. provides engineering an...",0.000084,both

In [10]:
# Create indicator column for missing data
merged_data['missing'] = np.where(merged_data['matched'] == 'both', True, False)
merged_data.drop(columns=['matched'], inplace=True)

# Create a dataframe with missing data by sector
missing_by_sector = merged_data.groupby('Sector').agg({'missing': 'sum', 'Symbol': 'count'}).reset_index()
missing_by_sector['missing_percentage'] = (missing_by_sector['missing'] / missing_by_sector['Symbol']) * 100
missing_by_sector

                    Sector  missing  Symbol  missing_percentage
0          Basic Materials       15      22           68.181818
1   Communication Services       10      22           45.454545
2        Consumer Cyclical       37      55           67.272727
3       Consumer Defensive       25      37           67.567568
4                   Energy       17      22           77.272727
5       Financial Services       42      67           62.686567
6               Healthcare       41      62           66.129032
7              Industrials       43      70           61.428571
8              Real Estate       18      31           58.064516
9               Technology       59      82           71.951220
10               Utilities       23      32           71.875000

In [11]:
# Look at average missing percentage across sectors
average_missing_percentage = missing_by_sector['missing_percentage'].mean()
print(f"Average Missing Percentage Across Sectors: {average_missing_percentage:.2f}%")

Average Missing Percentage Across Sectors: 65.26%

In [12]:
# Create new stocks that only has companies with fully complete data
companies_all_missing_list = companies_all_missing.tolist()
companies_partially_missing_list = partially_missing.index.tolist()
companies_fully_complete_data = stocks.query('Symbol not in @companies_all_missing_list and Symbol not in @companies_partially_missing_list')
companies_fully_complete_data

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume,Year
3768,2010-01-04,AOS,5.937266,7.435000,7.480000,7.261667,7.295000,1104600.0,2010
3769,2010-01-05,AOS,5.861404,7.340000,7.431667,7.308333,7.431667,1207200.0,2010
3770,2010-01-06,AOS,5.864068,7.343333,7.405000,7.301667,7.335000,663000.0,2010
3771,2010-01-07,AOS,5.881369,7.365000,7.425000,7.311667,7.356667,564000.0,2010
3772,2010-01-08,AOS,5.967879,7.473333,7.485000,7.311667,7.331667,504600.0,2010
...,...,...,...,...,...,...,...,...,...
1865155,2024-12-16,WTW,313.149994,313.149994,315.399994,310.989990,313.040009,696800.0,2024
1865156,2024-12-17,WTW,310.529999,310.529999,311.850006,309.470001,311.390015,887400.0,2024
1865157,2024-12-18,WTW,307.549988,307.549988,312.339996,307.209991,309.660004,819700.0,2024
1865158,2024-12-19,WTW,311.000000,311.000000,312.450012,306.510010,306.510010,767600.0,2024
1865159,2024-12-20,WTW,317.570007,317.570007,320.769989,310.350006,313.290009,2033900.0,2024

In [13]:
# Count unique companies with fully complete data
companies_fully_complete_data['Symbol'].nunique()

150

In [14]:
# Join fully to metadata
companies_fully_complete_data = pd.merge(companies_fully_complete_data, company_metadata, on='Symbol', how='inner')
companies_fully_complete_data

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume,Year,Exchange,...,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
0,2010-01-04,AOS,5.937266,7.435000,7.480000,7.261667,7.295000,1104600.0,2010,NYQ,...,68.72,9964057600,8.091000e+08,-0.037,Milwaukee,WI,United States,12000.0,A. O. Smith Corporation manufactures and marke...,0.000179
1,2010-01-05,AOS,5.861404,7.340000,7.431667,7.308333,7.431667,1207200.0,2010,NYQ,...,68.72,9964057600,8.091000e+08,-0.037,Milwaukee,WI,United States,12000.0,A. O. Smith Corporation manufactures and marke...,0.000179
2,2010-01-06,AOS,5.864068,7.343333,7.405000,7.301667,7.335000,663000.0,2010,NYQ,...,68.72,9964057600,8.091000e+08,-0.037,Milwaukee,WI,United States,12000.0,A. O. Smith Corporation manufactures and marke...,0.000179
3,2010-01-07,AOS,5.881369,7.365000,7.425000,7.311667,7.356667,564000.0,2010,NYQ,...,68.72,9964057600,8.091000e+08,-0.037,Milwaukee,WI,United States,12000.0,A. O. Smith Corporation manufactures and marke...,0.000179
4,2010-01-08,AOS,5.967879,7.473333,7.485000,7.311667,7.331667,504600.0,2010,NYQ,...,68.72,9964057600,8.091000e+08,-0.037,Milwaukee,WI,United States,12000.0,A. O. Smith Corporation manufactures and marke...,0.000179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565195,2024-12-16,WTW,313.149994,313.149994,315.399994,310.989990,313.040009,696800.0,2024,NMS,...,317.57,31987238912,2.581000e+09,0.057,London,NaN,United Kingdom,48000.0,Willis Towers Watson Public Limited Company op...,0.000575
565196,2024-12-17,WTW,310.529999,310.529999,311.850006,309.470001,311.390015,887400.0,2024,NMS,...,317.57,31987238912,2.581000e+09,0.057,London,NaN,United Kingdom,48000.0,Willis Towers Watson Public Limited Company op...,0.000575
565197,2024-12-18,WTW,307.549988,307.549988,312.339996,307.209991,309.660004,819700.0,2024,NMS,...,317.57,31987238912,2.581000e+09,0.057,London,NaN,United Kingdom,48000.0,Willis Towers Watson Public Limited Company op...,0.000575
565198,2024-12-19,WTW,311.000000,311.000000,312.450012,306.510010,306.510010,767600.0,2024,NMS,...,317.57,31987238912,2.581000e+09,0.057,London,NaN,United Kingdom,48000.0,Willis Towers Watson Public Limited Company op...,0.000575
565199,2024-12-20,WTW,317.570007,317.570007,320.769989,310.350006,313.290009,2033900.0,2024,NMS,...,317.57,31987238912,2.581000e+09,0.057,London,NaN,United Kingdom,48000.0,Willis Towers Watson Public Limited Company op...,0.000575

In [15]:
# Counts of Fully Complete Data by Sector
companies_fully_complete_data.groupby('Sector')['Symbol'].nunique()

Sector
Basic Materials            7
Communication Services     9
Consumer Cyclical         16
Consumer Defensive        12
Energy                     5
Financial Services        24
Healthcare                17
Industrials               22
Real Estate               12
Technology                17
Utilities                  9
Name: Symbol, dtype: int64

In [16]:
# Save cleaned data to csv
#companies_fully_complete_data.to_csv('cleaned_stocks_data.csv', index=False)